In [1]:
import pandas as pd
df = pd.read_csv("mand_kor_processed_latest.csv")
df = df.drop(df.index[62])
df.head()

,Unnamed: 0,Column1,Column2,mand_pron,mand_tone,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,kor_0,kor_1,kor_2
0,0,犬,598.0,quan,3.0,hyun2,khién,NaN,ián,2qyoe,けん,けん,けん,ㄱ,ㅕ,ㄴ
1,1,馬,599.0,ma,3.0,maa5,mâ,ma1,NaN,3mo,め,め,ば,ㅁ,ㅏ,NaN
2,2,西,603.0,xi,1.0,sai1,sî,xi1,sai,1xi,さい,さい,せい,ㅅ,ㅓ,NaN
3,3,車,604.0,che,1.0,ce1,chhâ,ca1,chhia,1tsho,しゃ,しゃ,しゃ,ㅊ,ㅏ,NaN
4,4,酉,650.0,you,3.0,jau5,yu,NaN,iú,NaN,ゆ,ゆ,ゆう,ㅇ,ㅠ,NaN

In [2]:
initials = ["ng", "gw", "kw", "b", "p", "m", "f", "d", "t", "l", "g", "k", "n", "h", "w", "z", "c", "s", "j"]
finals = ["aa", "aai", "aau", "aam", "aan", "aang", "aap", "aat", "aak", "ai", "au", "am", "an", \
          "ang", "ap", "at", "ak", "e", "ei", "eu", "em", "eng", "ep", "ek", "i", "iu", "im", "in", \
          "ing", "ip", "it", "ik", "o", "oi", "ou", "on", "ong", "ot", "ok", "u", "ui", "un", "ung", \
          "ut", "uk", "oe", "eoi", "eon", "oeng", "eot", "oek", "yu", "yun", "yut", "m", "ng"]
coda = ['p', 't', 'k', 'm', 'n', 'ng']

In [3]:
def cantonizer(srt):
    if type(srt) == float:
        return ('','','','')
    tone = srt[-1]
    s = srt[:-1]
    l = ['','','', tone]
    for i in initials:
        if s.startswith(i):
            l[0] = i
            s = s[len(i):]
            break
    for i in finals:
        if s == i:
            l[1] = i
            break
    for i in coda:
        if l[1].endswith(i):
            l[1] = l[1][:-len(i)]
            l[2] = i
    if (l[0] == 'm' or l[0] == 'ng') and not l[1]:
        l[1] = l[0]
        l[0] = ''
#     print(l)
    assert(l[0] + l[1] + l[2] + l[3] == srt)
    assert(l[1] != '')
    assert(l[0] in initials or l[0] is '')
    assert(l[2] in coda or l[2] is '')
    return l

In [4]:
li = df['Column4'].tolist()

In [5]:
for i in range(len(li)):
    try:
        li[i] = cantonizer(li[i])
    except:
        print("Error: " + str(li[i]))
        li[i] = ('','','','')

Error: keui4
Error: leui6
Error: pet6
Error: nga4
Error: yeung4
Error: seung1
Error: jeuk3
Error: zeuk3
Error: wa1
Error: ching1
Error: keui4
Error: chi4
Error: cho2
Error: keui4
Error: only
Error: zeun2
Error: jeuk6
Error: chung4
Error: chyut3
Error: yuk6
Error: ja1

In [6]:
j1, j2, j3, j4 = zip(*li)
df = df.drop(df.columns[[5]], axis = 1)

In [7]:
df.insert(loc=5, column='canto_tone', value=j4)
df.insert(loc=5, column='canto_coda', value=j3)
df.insert(loc=5, column='canto_nucl', value=j2)
df.insert(loc=5, column='canto_onset', value=j1)
df.head()

,Unnamed: 0,Column1,Column2,mand_pron,mand_tone,canto_onset,canto_nucl,canto_coda,canto_tone,Column5,Column6,Column7,Column8,Column9,Column10,Column11,kor_0,kor_1,kor_2
0,0,犬,598.0,quan,3.0,h,yu,n,2,khién,NaN,ián,2qyoe,けん,けん,けん,ㄱ,ㅕ,ㄴ
1,1,馬,599.0,ma,3.0,m,aa,,5,mâ,ma1,NaN,3mo,め,め,ば,ㅁ,ㅏ,NaN
2,2,西,603.0,xi,1.0,s,ai,,1,sî,xi1,sai,1xi,さい,さい,せい,ㅅ,ㅓ,NaN
3,3,車,604.0,che,1.0,c,e,,1,chhâ,ca1,chhia,1tsho,しゃ,しゃ,しゃ,ㅊ,ㅏ,NaN
4,4,酉,650.0,you,3.0,j,au,,5,yu,NaN,iú,NaN,ゆ,ゆ,ゆう,ㅇ,ㅠ,NaN

In [8]:
initials = ['b', 'p', 'm', 'f', 'd', 't', 'n', 'l', 'g', 'k', 'h', 'j', 'q' \
           ,'x', 'zh', 'ch', 'sh', 'r', 'z', 'c', 's']
finals = ['i', 'e', 'a', 'ei', 'ai', 'ou', 'ao', 'en', 'an', 'ong', 'eng', 'ang' \
          ,'yi', 'ye', 'ya', 'ie', 'ia', 'you', 'iu', 'yao', 'iao', 'yin', 'in', 'yan', 'ian', \
          'yong', 'iong', 'ying', 'ing', 'yang', 'iang', 'wu', 'u', 'wo', 'uo', 'o', 'wa', 'ua', \
          'wei', 'ui', 'wai', 'uai', 'wen', 'un', 'wan', 'uan', 'weng', 'wang', 'uang',\
          'yu', 'ü', 'yue', 'üe', 'ue', 'yun', 'ün', 'üan', 'yuan']
coda = ['n', 'ng']

In [9]:
def mandar(srt):
    if type(srt) == float:
        return ('','','')
    s = srt
    s = s.lower()
    if s == 'er':
        return ('', 'er', '')
    l = ['','','']
    for i in initials:
        if s.startswith(i):
            l[0] = i
            s = s[len(i):]
            break
    for i in finals:
        if s == i:
            l[1] = i
            break
    for i in coda:
        if l[1].endswith(i):
            l[1] = l[1][:-len(i)]
            l[2] = i
    assert(l[0] + l[1] + l[2] == srt.lower())
    assert(l[1] != '')
    assert(l[0] in initials or l[0] is '')
    assert(l[2] in coda or l[2] is '')
    return l

In [10]:
li = df['mand_pron'].tolist()

In [11]:
for i in range(len(li)):
    try:
        li[i] = mandar(li[i])
    except:
        print("Error: " + str(li[i]))
        li[i] = ('','','')

Error: ḿ
Error: ê̄
Error: tū'ao
Error: jiejue
Error: shangxia
Error: jisì
Error: pànbie
Error: yúpiao
Error: xiandàng
Error: Kunlún
Error: jiǔzhi
Error: nǚnu

In [12]:
j1, j2, j3 = zip(*li)
df = df.drop(df.columns[[3]], axis = 1)

In [13]:
df.insert(loc=3, column='mando_coda', value=j3)
df.insert(loc=3, column='mando_nucl', value=j2)
df.insert(loc=3, column='mando_onset', value=j1)
df = df.drop(df.columns[[0]], axis = 1)
df.head()

,Column1,Column2,mando_onset,mando_nucl,mando_coda,mand_tone,canto_onset,canto_nucl,canto_coda,canto_tone,Column5,Column6,Column7,Column8,Column9,Column10,Column11,kor_0,kor_1,kor_2
0,犬,598.0,q,ua,n,3.0,h,yu,n,2,khién,NaN,ián,2qyoe,けん,けん,けん,ㄱ,ㅕ,ㄴ
1,馬,599.0,m,a,,3.0,m,aa,,5,mâ,ma1,NaN,3mo,め,め,ば,ㅁ,ㅏ,NaN
2,西,603.0,x,i,,1.0,s,ai,,1,sî,xi1,sai,1xi,さい,さい,せい,ㅅ,ㅓ,NaN
3,車,604.0,ch,e,,1.0,c,e,,1,chhâ,ca1,chhia,1tsho,しゃ,しゃ,しゃ,ㅊ,ㅏ,NaN
4,酉,650.0,,you,,3.0,j,au,,5,yu,NaN,iú,NaN,ゆ,ゆ,ゆう,ㅇ,ㅠ,NaN

In [14]:
df['mand_tone'] = df['mand_tone'].fillna(-1)
df['mand_tone'] = df['mand_tone'].astype(int)
df['mand_tone'] = df['mand_tone'].astype(str)
df['mand_tone'] = df['mand_tone'].replace('-1', '')
df.head()

,Column1,Column2,mando_onset,mando_nucl,mando_coda,mand_tone,canto_onset,canto_nucl,canto_coda,canto_tone,Column5,Column6,Column7,Column8,Column9,Column10,Column11,kor_0,kor_1,kor_2
0,犬,598.0,q,ua,n,3,h,yu,n,2,khién,NaN,ián,2qyoe,けん,けん,けん,ㄱ,ㅕ,ㄴ
1,馬,599.0,m,a,,3,m,aa,,5,mâ,ma1,NaN,3mo,め,め,ば,ㅁ,ㅏ,NaN
2,西,603.0,x,i,,1,s,ai,,1,sî,xi1,sai,1xi,さい,さい,せい,ㅅ,ㅓ,NaN
3,車,604.0,ch,e,,1,c,e,,1,chhâ,ca1,chhia,1tsho,しゃ,しゃ,しゃ,ㅊ,ㅏ,NaN
4,酉,650.0,,you,,3,j,au,,5,yu,NaN,iú,NaN,ゆ,ゆ,ゆう,ㅇ,ㅠ,NaN

In [15]:
df = df.rename(columns={"mand_tone": "mando_tone"})
df['kor_2'] = df['kor_2'].fillna(-1)
df['kor_2'] = df['kor_2'].astype(str)
df['kor_2'] = df['kor_2'].replace('-1', '')

df.head()

,Column1,Column2,mando_onset,mando_nucl,mando_coda,mando_tone,canto_onset,canto_nucl,canto_coda,canto_tone,Column5,Column6,Column7,Column8,Column9,Column10,Column11,kor_0,kor_1,kor_2
0,犬,598.0,q,ua,n,3,h,yu,n,2,khién,NaN,ián,2qyoe,けん,けん,けん,ㄱ,ㅕ,ㄴ
1,馬,599.0,m,a,,3,m,aa,,5,mâ,ma1,NaN,3mo,め,め,ば,ㅁ,ㅏ,
2,西,603.0,x,i,,1,s,ai,,1,sî,xi1,sai,1xi,さい,さい,せい,ㅅ,ㅓ,
3,車,604.0,ch,e,,1,c,e,,1,chhâ,ca1,chhia,1tsho,しゃ,しゃ,しゃ,ㅊ,ㅏ,
4,酉,650.0,,you,,3,j,au,,5,yu,NaN,iú,NaN,ゆ,ゆ,ゆう,ㅇ,ㅠ,

In [16]:
df.to_csv("mand_cant_kor_all_processed.csv", encoding="utf-8", index=True)

In [17]:
syllables = ['きゃ', 'きゅ', 'きょ', 'しゃ', 'しゅ', 'しょ', 'ちゃ', 'ちゅ', 'ちょ', 'にゃ', 'にゅ', 'にょ', 'ひゃ', 'ひゅ', 'ひょ', 'みゃ', 'みゅ', 'みょ', 'りゃ', 'りゅ', 'りょ', 'ぎゃ', 'ぎゅ', 'ぎょ', 'じゃ', 'じゅ', 'じょ', 'びゃ', 'びゅ', 'びょ', 'ぴゃ', 'ぴゅ', 'ぴょ', 'あ', 'か', 'さ', 'た', 'な', 'は', 'ま', 'や', 'ら', 'わ', 'い', 'き', 'し', 'ち', 'に', 'ひ', 'み', 'り', 'う', 'く', 'す', 'つ', 'ぬ', 'ふ', 'む', 'ゆ', 'る', 'え', 'け', 'せ', 'て', 'ね', 'へ', 'め', 'れ', 'お', 'こ', 'そ', 'と', 'の', 'ほ', 'も', 'よ', 'ろ', 'を', 'ん', 'が', 'ぎ', 'ぐ', 'げ', 'ご', 'ざ', 'じ', 'ず', 'ぜ', 'ぞ', 'だ', 'ぢ', 'づ', 'で', 'ど', 'ば', 'び', 'ぶ', 'べ', 'ぼ', 'ぱ', 'ぴ', 'ぷ', 'ぺ', 'ぽ']

In [18]:
def japaneet(srt):
    if type(srt) == float:
        return ('','','')
    s = srt
    l = ['','']
    for i in syllables:
        if s.startswith(i):
            l[0] = i
            s = s[len(i):]
            break
    l[1] = s
    assert(l[0] + l[1] == srt)
    assert(l[0] in syllables)
    return tuple(l)

In [19]:
l1 = df['Column9'].tolist()
l2 = df['Column10'].tolist()
l3 = df['Column11'].tolist()
for i in range(len(l1)):
    try:
        l1[i] = japaneet(l1[i])
    except:
        print("Error: " + str(l1[i]))
        l1[i] = ('','')
for i in range(len(l2)):
    try:
        l2[i] = japaneet(l2[i])
    except:
        print("Error: " + str(l2[i]))
        l2[i] = ('','')
for i in range(len(l2)):
    try:
        l3[i] = japaneet(l3[i])
    except:
        print("Error: " + str(l3[i]))
        l3[i] = ('','')

Error: っよう

In [20]:
df = df.drop(df.columns[[14]], axis = 1)
df = df.drop(df.columns[[14]], axis = 1)
df = df.drop(df.columns[[14]], axis = 1)

In [21]:
df.head()

,Column1,Column2,mando_onset,mando_nucl,mando_coda,mando_tone,canto_onset,canto_nucl,canto_coda,canto_tone,Column5,Column6,Column7,Column8,kor_0,kor_1,kor_2
0,犬,598.0,q,ua,n,3,h,yu,n,2,khién,NaN,ián,2qyoe,ㄱ,ㅕ,ㄴ
1,馬,599.0,m,a,,3,m,aa,,5,mâ,ma1,NaN,3mo,ㅁ,ㅏ,
2,西,603.0,x,i,,1,s,ai,,1,sî,xi1,sai,1xi,ㅅ,ㅓ,
3,車,604.0,ch,e,,1,c,e,,1,chhâ,ca1,chhia,1tsho,ㅊ,ㅏ,
4,酉,650.0,,you,,3,j,au,,5,yu,NaN,iú,NaN,ㅇ,ㅠ,

In [22]:
j1, j2 = zip(*l1)
j3, j4 = zip(*l3)

In [23]:
df.insert(loc=14, column='jp_kan_rest', value=j4)
df.insert(loc=14, column='jp_kan_first', value=j3)
df.insert(loc=14, column='jp_on_rest', value=j2)
df.insert(loc=14, column='jp_on_first', value=j1)

In [25]:
df['Column2'] = df['Column2'].astype(int)
df = df.rename(columns={"Column1": "character", "Column2": "wiki_id"})

In [28]:
df.head(10)

,character,wiki_id,mando_onset,mando_nucl,mando_coda,mando_tone,canto_onset,canto_nucl,canto_coda,canto_tone,...,Column6,Column7,Column8,jp_on_first,jp_on_rest,jp_kan_first,jp_kan_rest,kor_0,kor_1,kor_2
0,犬,598,q,ua,n,3,h,yu,n,2,...,NaN,ián,2qyoe,け,ん,け,ん,ㄱ,ㅕ,ㄴ
1,馬,599,m,a,,3,m,aa,,5,...,ma1,NaN,3mo,め,,ば,,ㅁ,ㅏ,
2,西,603,x,i,,1,s,ai,,1,...,xi1,sai,1xi,さ,い,せ,い,ㅅ,ㅓ,
3,車,604,ch,e,,1,c,e,,1,...,ca1,chhia,1tsho,しゃ,,しゃ,,ㅊ,ㅏ,
4,酉,650,,you,,3,j,au,,5,...,NaN,iú,NaN,ゆ,,ゆ,う,ㅇ,ㅠ,
5,月,4427,,yue,,4,j,yu,t,6,...,ngiad6,NaN,5hhyq,が,ち,げ,つ,ㅇ,ㅝ,ㄹ
6,愛,6206,,ai,,4,,oi,,3,...,oi4,ài,2e,あ,い,あ,い,ㅇ,ㅐ,
7,間,6207,j,ia,n,1,g,aa,n,1,...,NaN,NaN,1ke,け,ん,か,ん,ㄱ,ㅏ,ㄴ
8,青,6210,q,i,ng,1,c,e,ng,1,...,qiang1,NaN,1qin,しょ,う,せ,い,ㅊ,ㅓ,ㅇ
9,赤,6212,ch,i,,4,c,e,k,3,...,NaN,chhiah,4tshaq,しゃ,く,せ,き,ㅈ,ㅓ,ㄱ