In [ ]:
valid = "ぁあぃいぅうぇえぉおかがきぎくぐけげこごさざしじすずせぜそぞただちぢっつづてでとどなにぬねのはばぱひびぴふぶぷへべぺほぼぽまみむめもゃやゅゆょよらりるれろゎわゐゑをんゔゕゖ"

In [2]:
import pandas as pd
df = pd.read_csv("chinese_jp_kor_excel_data.csv")
columns = ['Column9', 'Column10', 'Column11']

In [18]:
df['Column9']

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      NaN
4                                                      NaN
5                                                      달|월
6                                                      NaN
7                                                     사이|간
8                                                 푸르다|푸를|청
9                                                  붉다|붉을|적
10       hangeul=추|eumhun=[[가을]]추|ehy=kaulchwu|rv=chu|m...
11           hangeul=[[조]]|eumhun=[[아침]]|rv=jo|mr=cho|y=co
12                      hangeul=의|eumhun=|rv=ui|mr=ŭi|y=uy
13                                               hangeul=구
14                                                     NaN
15                                                    사람|인
16                                                     물|수
17                                           hangeul=[[사]]
18                            hangeul=미|eumhun=|mr=mi|y=mi
19                                     hangeul=[[령]]→[[영]]
20                                             병들다|병들|녁||역
21                                                       마
22                                                       성
23                                                       복
24                                                    임금|군
25                                                     NaN
26                                                       손
27                                                  비다|빌|공
28                                           hangeul=[[저]]
29                                                       상
                               ...
15223                                                  NaN
15224                                                  NaN
15225                                                  NaN
15226                                                  NaN
15227                                                  NaN
15228                                                  NaN
15229                                                  NaN
15230                                                  NaN
15231                                                  NaN
15232                                                  NaN
15233                                                  NaN
15234                                                  NaN
15235                                                  NaN
15236                                                  NaN
15237                                                  NaN
15238                                                  NaN
15239                                                  NaN
15240                                                  NaN
15241                                                  NaN
15242                                                  NaN
15243                                                  NaN
15244                                                  NaN
15245                                                  NaN
15246                                                  NaN
15247                                                  NaN
15248                                                  NaN
15249                                                  NaN
15250                                                  NaN
15251                                                  NaN
15252                                                  NaN
Name: Column12, Length: 15253, dtype: object